/acc

/firmware/slinky.s
/firmware/iic
/firmware/iicplus
/firmware/iic.bin
/firmware/iicplus.bin
/firmware/rom4.bin
/firmware/rom5.bin

/cpanel/relbuild
/cpanel/testbuild

/pico/pico_debug
/pico/pico_release
/pico/pico2_debug
/pico/pico2_release
/pico/si_test_build
/pico/si_test_pico_w
/pico/si_test_pico2_w
/pico/picotool

/ip65

/tools/wget65-verbose/wget65v.bin
/tools/wget65-verbose/*.map

/kicad/**/*.bak

**/*:Zone.Identifier
.DS_Store
