/acc

/firmware/slinky.s
/firmware/iic
/firmware/iicplus
/firmware/iic.bin
/firmware/iicplus.bin
/firmware/rom4.bin
/firmware/rom5.bin

/cpanel/relbuild
/cpanel/testbuild

/pico/pico_debug
/pico/pico_release
/pico/pico2_debug
/pico/pico2_release
/pico/picotool

/kicad/**/*.bak

**/*:Zone.Identifier
